# Python 缓存
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# 虚拟环境
.venv/
venv/
ENV/

# PyCharm 配置文件
.idea/
*.iml
*.iws
*.ipr

# 日志、临时文件
*.log
*.tmp
*.temp
.DS_Store